.sil{
    font-size: 15px;
    border: 0.5px darkseagreen;
    width: 350px;
	height: 500px;
    margin: 10px 10px 10px 10px;

    

}
#container{
    background-color: rgb(42, 196, 119);
    border: 0.5px darkseagreen;
    float: left;
    width: max-content;
	height: max-content;
    
}
#about_me{
    background-color: rgb(87, 106, 131);
    border: 0.5px darkseagreen;
    float: left;
    


}


#lesson_reason{
    background-color: yellow;
    float: left;

    
}
#want_div{
    background-color: chocolate;
    float: right;

}
#changed_div{
    background-color: rgb(211, 56, 56);
    float: right;






}
header{
    background-color: antiquewhite;
    margin: 20px 20px 20px 20px;
    /* right:0px;
    left:0px;
    height: 20px; */

}
footer{
    background-color: aqua;
    bottom: 0px;
    right:0px;
    left:0px;
    text-align: center;
    height: 20px;
    position: fixed;
}


#side_bar {
    background-color: rgb(87, 106, 131);
    border: 0.5px rgb(10, 15, 10);
    float: right;
    margin: 20px 20px 20px 20px;
    width: 250px;
	height: 500px;
    position: sticky;
    top:4px;
    
}
