.sil{
    font-size: 15px;
    border: 0.5px darkseagreen;
}


#lesson_reason{
    background-color: yellow;
}
#want_div{
    background-color: chocolate;
}
#changed_div{
    background-color: darkgray;
}
header{
    background-color: antiquewhite;

}
footer{
    background-color: aqua;
}

#about_me{
    background-color: rgb(87, 106, 131);
    border: 0.5px darkseagreen;

}